<%- include('../partials/header') -%>
<div class="d-flex flex-wrap flex-row bd-highlight mb-3 justify-content-around" style="max-width: 1200px;margin: auto; ">
<% for(var i = 0; i < softwares.length; i++) { %>
    <div class="card shadow text-center" style="width: 18rem; margin-bottom: 10px;">
        <div class="card-body">
        <a  href="<%= softwares[i].external_resources.website %>"><img style="height: 5rem; display: flex; align-content: stretch;" src="/images/software/<%= softwares[i].id %>.png" ></a>
        <a href="<%= softwares[i].external_resources.website %>" ><h2  class="card-title"><%= softwares[i]["name"] %></h2></a>
        <p class="card-text"><%= softwares[i]["description"] %></p>
        <a href="<%= softwares[i].url %>"><img style="border: 2px solid; border-radius: 5px;" src="/images/sites/cdl.png" ></a>
        <% if(softwares[i].external_resources.wikipedia != null) { %>
            <a href="<%= softwares[i].external_resources.wikipedia.url %>"><img style="border: 2px solid; border-radius: 5px;" src="/images/sites/wikipedia.png" ></a>
        <% } %>
        <% if(softwares[i].external_resources.sill != null) { %>
            <a href="<%= softwares[i].external_resources.sill.url %>"><img style="border: 2px solid; border-radius: 5px;" src="/images/sites/sill.png" ></a>
        <% } %>
        <% if(softwares[i].external_resources.wikidata != null) { %>
            <a href="<%= softwares[i].external_resources.wikidata.url %>"><img style="border: 2px solid; border-radius: 5px;" src="/images/sites/framalibre.png" ></a>
        <% } %>
        <% if(softwares[i].userCount != 0) { %>
            <a href="/users/<%= softwares[i].id %>">
            <div class="btn btn-primary">
                <img src="/images/user.png" >
                <span class="btn btn-danger" ><%= softwares[i].userCount %></span>
            </div>
            </a>
        <% } %>
        <% if(locals.user) { %>
        <div>
            <a href="/edit/<%= softwares[i].id %>" class="btn btn-primary">Edit</a>
        </div>
        <% } %>
        </div>
    </div>
<% } %>
</div>

<nav aria-label="...">
    <% 
        var maxPage = (totalDocs/20 +1).toFixed(0) 
        // var search = search? "&?search=" + search:""
    %>
    <ul class="pagination">
        <% if(currentPage != 1) { %>
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page=<%= currentPage-1 %>">←</a></li>
        <% } %>
      
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page=<%= currentPage %>"><%= currentPage %></a>
      </li>
      <% if(currentPage != maxPage) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= currentPage+1 %>">→</a></li>
        <li class="page-item"><a class="page-link" href="?page=<%= maxPage %>"><%= maxPage %></a></li>
    <% } %>
  
    </ul>
  </nav>