<%- include('../partials/header') -%>
<div class="d-flex flex-wrap flex-row bd-highlight mb-3 justify-content-around" style="max-width: 1200px;margin: auto; ">
<% for(var i = 0; i < softwares.length; i++) { %>
    <div class="card shadow text-center" style="width: 18rem; margin-bottom: 10px;">
        <div class="card-body">
        <a  href="<%= softwares[i].external_resources.website %>"><img style="height: 5rem; display: flex; align-content: stretch;" src="/images/software/<%= softwares[i].id %>.png" ></a>
        <a href="<%= softwares[i].external_resources.website %>" ><h2  class="card-title"><%= softwares[i]["name"] %></h2></a>
        <p class="card-text"><%= softwares[i]["description"] %></p>
        <a href="<%= softwares[i].url %>"><img style="border: 2px solid; border-radius: 5px;" src="/images/sites/cdl.png" ></a>
        <% if(softwares[i].external_resources.wikipedia != null) { %>
            <a href="<%= softwares[i].external_resources.wikipedia.url %>"><img style="border: 2px solid; border-radius: 5px;" src="/images/sites/wikipedia.png" ></a>
        <% } %>
        <% if(softwares[i].external_resources.sill != null) { %>
            <a href="<%= softwares[i].external_resources.sill.url %>"><img style="border: 2px solid; border-radius: 5px;" src="/images/sites/sill.png" ></a>
        <% } %>
        <% if(softwares[i].external_resources.wikidata != null) { %>
            <a href="<%= softwares[i].external_resources.wikidata.url %>"><img style="border: 2px solid; border-radius: 5px;" src="/images/sites/framalibre.png" ></a>
        <% } %>
        </div>
    </div>
<% } %>
</div>